<div class="editor-navbar row">
    <div class="col-4">
    <img src="static/img/blue-core-v1.svg" class="float-start" alt="Blue Core Label" style="height: 100px">
    </div>
    <div class="col-6">
    <h1>Graph Toolbox</h1>
    <h4>Version <span id="version" ></span></h4>
    </div>
    <div class="col-2">
    <span id="user-name">test</span>
    <button class="btn btn-primary mt-1"  
        data-bs-toggle="modal" data-bs-target="#loginModal">
        <span id="login-action">
        <i class="bi bi-box-arrow-in-right"></i>
        </span>
    </button>
    </div>
</div>