<div class="modal fade" tabindex="-1" id="bulk-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <h5 class="modal-title">Bulk Updates</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-secondary">
                    To perform bulk updates, follow these steps:
                </p>
                <ol>
                    <li>Load the graphs for those resources you want to update 
                        (limited by the available memory in your web-browser)
                    </li>
                    <li>
                        Construct an <a href="https://www.w3.org/TR/sparql11-update/">Update</a> SPARQL query to apply 
                        to the resources.
                    </li>
                    <li>
                        Run Query and confirm that the changes reflect what you want 
                        updated.
                    </li>
                    <li>
                        Save the resulting changed graph(s) to Blue Core
                    </li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>