<!-- Login modal -->
 <div class="modal fade" tabindex="-1" id="loginModal">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Blue Core Keycloak Login</h5>
        <button type="button" id="loginModalhModalCloseBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <div class="mb-3">
         <label for="keycloak_username" class="form-label">Username</label>
         <input type="text" class="form-control" id="keycloak_username" placeholder="Enter Username">
       </div>
        <div class="mb-3">
         <label for="keycloak_password" class="form-label">Password</label>
         <input type="password" class="form-control" id="keycloak_password" placeholder="Enter password">
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" py-click="bluecore_login">Login</button>
      </div>
      </div>
    </div>
  </div>
 </div>